<main class="container {{pageMainClass}}">
        <section class="row pageTitle">
                <div class="col-12 title">
                        <h1>{{title}}</h1>
                </div>
	</section>	
	<section class="row menuSection">
        {{#each items}}
                <section class="col-12 col-xl-6">
                        <h2>{{this.name}}</h2>
                        {{#each this.items}}
                        <figure class="menuItemCard">
                                <div class="menuItemImgWrapper">
                                     <img src={{this.image}} alt="{{this.description}}" class="cardImg">   
                                </div>
                                <figcaption class="menuItemCardInfo">
                                        <h3>{{this.itemName}}</h3>
                                        <span>{{this.description}}</span>
                                        <span><strong>Price: ${{this.price}}</strong></span>
                                </figcaption>
                        </figure>
                        {{/each}}
                </section>
        {{/each}}
	</section>	
</main>